.map-title {
  text-align: center;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 16px;
  width: 80%;
  font-family: 'Kanit';
  font-weight: 900;
  font-size: 2.2rem;
  margin-bottom: .5vh;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }
  
  iframe {
    width: 80%; 
    height: 80%;
    border: none;
  }
.map-text-input {

  width: 15vw;
 
  height: 3vh;
  position:absolute;
  top: 25vh;
  left: 15vw;
  border: solid 2px black;
}
.title-wrapper {
 
}
.map-subtitle{
  margin-left: 37vw;
  font-size: 1.2rem;
  margin-top:0;
}