.map-title {
  text-align: center;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 16px;
  width: 80%;
  font-family: 'Kanit';
  font-weight: 900;
  font-size: 2.2rem;
}

h1 {
  margin-top: 23px; /* Increased margin for better spacing */
  margin-bottom: 3px; /* Adjusted margin for spacing */
  color: rgb(19, 55, 107); /* Set color to the specified value */
  text-align: center;
}
h3 {
  text-size-adjust: 30;
  text-align: center;
  color: rgb(69, 97, 135);
}
.iframe-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }
  
  iframe {
    width: 80%; 
    height: 80%;
    border: none;
  }
.map-text-input {

  width: 15vw;
 
  height: 3vh;
  position:absolute;
  top: 25vh;
  left: 15vw;
  border: solid 2px black;
}
.title-wrapper {
 
}
