h2 {
  text-align: center;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 16px;
  width: 80%;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }
  
  iframe {
    width: 80%; 
    height: 80%;
    border: none;
  }
