  
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .section-heading {
    color: rgb(0, 0, 0); /* Set the color of the headings to blue */
    text-decoration: none; /* Remove default underline */
    position: relative; /* Required for absolute positioning of the hover effect */
    text-size-adjust: 26px;
    text-emphasis: bold;
  }
  
  h2{
    size: 8rem;
    padding-left: 100%;
    padding-right: 100%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    background-color: rgba(96, 96, 249, 0.039);
  }

  .section-heading:hover::after {
    content: ''; /* Add pseudo-element for the underline */
    position: absolute;
    left: 0; /* Start from the left */
    bottom: -2px; /* Position the underline below the text */
    width: 100%; /* Extend the underline across the entire width */
    height: 2px; /* Set the thickness of the underline */
    background-color: red; /* Set the color of the underline */
    text-size-adjust: 2em;
  }
  

  
  .vote-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  
  nav ul {
    display: flex; 
    gap: 20px; 
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Translate Button */
  
  /* .button {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  .button:hover {
    box-shadow: .5px .5px 150px #252525;
  }
  
  .type1::after {
    content: "Translate";
    height: 50px;
    width: 150px;
    background-color: #008080;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1::before {
    content: "Translate";
    height: 50px;
    width: 150px;
    background-color: #fff;
    color: #008080;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1:hover::after {
    transform: translateY(0) scale(1.2);
  }
  
  .type1:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
  } */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 2vh;
  }