/* CSS HEX */
* {
  --mariner: #267fcd;
  --firefly: #0c242c;
  --sunset-orange: #fa4a42;
  --seashell: #f1f1f1;
  --nevada: #656769;
  --silver-chalice: #aca8a8;
  --sea-buckthorn: #f6ac27;
  --cornflower: #90bce8;
  --blumine: #1c4c84;
}

.App {
  text-align: center;
}
.App-header {
  background-color: var(--mariner);
  height: 5vh;
  color:white;
  display:flex;
  flex-direction: row;
}
.App-header > h1 {
  margin: 0;
}
