/* CSS HEX */
* {
  --mariner: #267fcd;
  --firefly: #0c242c;
  --sunset-orange: #fa4a42;
  --seashell: #f1f1f1;
  --nevada: #656769;
  --silver-chalice: #aca8a8;
  --sea-buckthorn: #f6ac27;
  --cornflower: #90bce8;
  --blumine: #1c4c84;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* .App {
  text-align: center;
}
.App-header {
  background-color: var(--mariner);
  height: 5vh;
  color:white;
  display:flex;
  flex-direction: row;
}
.App-header > h1 {
  margin: 0;
} */

/* .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.section-heading {
  color: blue; 
  text-decoration: none; 
  position: relative; 
}

.section-heading:hover::after {
  content: ''; 
  position: absolute;
  left: 0; 
  bottom: -2px; 
  width: 100%;
  height: 2px; 
  background-color: red; 
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-bottom: 2vh;
}

 */